body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

/* Set a background color */


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(236, 122, 122);
  top: 0;
  bottom: 0;
  left: 12.3%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 0px;
  position: relative;
  background-color: inherit;
  width: 90%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -0px;
  background-color: white;
  border: 6px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left:'-20%';
  margin:0;
  
}

/* Place the container to the right */
.right {
  left: 5%;
  margin: 0;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -30px;
}

/* The actual content */
.content-left{
  padding: 10px 10px ;
  background-color: white;
  position: relative;
  border-radius: 6px;
  width: 100px;
}
.content {
  padding: 10px 20px ;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;   
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 1px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: -1%;
  }
}
/* styling the scrollbar */
::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey; 
  outline: 1px solid rgb(123, 112, 144);
}